:root
  --orange: #ff781e

  // *************************** Header

header
  height: 50px
  display: flex
  justify-content: space-between

  div
    display: flex
    align-items: center

    p
      margin: 20px
      font-family: "Winky Rough"
      color: var(--orange)
      cursor: pointer

    .login
      border: solid
      border-width: 2px
      border-color: #e97100
      border-radius: 15px
      padding: 10px

  img
    height: 100%
    cursor: pointer

  // *************************** Section

#Home_section
  display: flex
  width: 100%
  justify-content: space-evenly
  margin: 100px 0px

  div
    width: 30%
    height: 300px
    background-color: var(--orange)
    text-align: center
    align-content: center
    border-radius: 15px
    cursor: pointer

#Info_section
  display: flex
  width: 100%
  justify-content: center
  margin: 100px 0px
  text-align: center

  // *************************** Dossier

  // *************************** Véhicule

  // *************************** Error

#error
  text-align: center
  font-weight: bold
  color: var(--orange)
  font-size: 30px

  h1
    font-size: 250px

  a
    font-decoration: none
    color: var(--orange)
