:root
  --orange: #ff781e

  // *************************** Header

header
  height: 50px
  display: flex
  justify-content: space-between

  div
    display: flex
    align-items: center

    p
      margin: 20px
      font-family: "Winky Rough"
      color: var(--orange)
      cursor: pointer

    .login
      border: solid
      border-width: 2px
      border-color: #727272
      border-radius: 15px
      padding: 10px

  img
    height: 100%
